*.sublime-workspace
**/.ipynb_checkpoints
**/.hypothesis
**/.pytest_cache
**/__pycache__/
nosetests.xml
**.ipynb
# Exception to the rule
!Guide_to_tHMM.ipynb

venv/
# Ignore everything in output except requests-cache.sqlite
output/
!output/requests-cache.sqlite
