*.sublime-workspace
**/.ipynb_checkpoints
**/.hypothesis
**/.pytest_cache
**/__pycache__/
nosetests.xml

# Notebooks
**.ipynb
# Exception to the rule
!/notebooks/*.ipynb


venv/
output/
profile
profile.svg
.DS_Store
