matplotlib==3.4.3
numpy==1.21.2
scipy==1.7.1
seaborn==0.11.2
scikit-learn==0.24.2
svgutils==0.3.4
manubot==0.5.1
panflute==2.1.0
pandoc-fignos==2.4.0
pandoc-eqnos==2.5.0
pandoc-tablenos==2.3.0
openpyxl==3.0.7
Biopython==1.79
jax==0.2.19
jaxlib==0.1.70
networkx==2.6.2
statsmodels==0.12.2
typing
