# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on: [push]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Setup submodule
      run: git submodule update --init --recursive
    - name: Install dependencies
      run: make venv
    - name: Test with pytest
      run: |
        . venv/bin/activate; pytest --cov=lineage --cov-report=xml --cov-config=.github/workflows/coveragerc
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
